{
	http_port 8080
	https_port 8443
	auto_https off
}

:8080, :8443 {
	root * /app

	route /api/* {
		reverse_proxy backend:8080
	}
	route /admin/* {
		try_files {path} {path}/ /admin/index.html
		file_server
	}
	route {
		try_files {path} {path}/ /index.html
		file_server
	}
}
